body,html,div{
    margin:0;
    padding: 0;
}

.left{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:rgb(229, 237, 243);
}

.left .nav{
    flex: 1;
}
.nav li{
    flex: 1;
    text-align: start;
}
.header{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px 0 40px 0;
    /* overflow: hidden; */
}
.top_header{
   
    background-image: linear-gradient(to right, rgb(54, 72, 87) ,  rgb(56, 85, 110));
    /* height: 20px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn-group{
    margin: 0 20px;
}
.top_name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 251, 251, 0.836);
    line-height: 42px;
}

.footer{
    box-sizing: border-box;
    padding: 25px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer a{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 30px; */
    padding: 4px;
    border-radius: 20px;
    border: 1px solid #888888;
    transition: width 2s, height 2s, transform 1s;
}
.footer a:hover{
    transform:scale(1.5,1.5) rotateY(5deg);
    text-decoration: none;
}
.footer p{
    font-size: 10px;
    padding-top: 10px;
    color: rgb(36, 88, 62);
}
.right{
    height: 100000px;
    margin-bottom: -100000px;
    overflow-y: scroll;
    background-color: rgba(194, 190, 190, 0.5);
    padding: 0;
}

.bu{
    background-color: rgba(71, 70, 70);
}
.com_header{
    width: 100%;
    height: 150px;
}
.com_header h1
{
    line-height: 150px;  
    text-align: center;
}
.pic{
    top:50px;
    left: 50%;
    transform: translate(-50%,0);
} 
.pic img{
    height: 210px;
    width: 170px;
}
.about_me{
    text-align: center;
    padding: 120px 40px 60px 40px;

    background-color: rgba(252, 247, 247, 0.849);
}
h1{
    font-weight: lighter;
}
.about_me p{
    padding-top: 10px;
    line-height: 22px;
}
.lightfoot{
    font-size: 12px;
    font-weight: normal;
    color: saddlebrown;
}
.fastLight{
    display: inline-block;
    border: rgb(146, 141, 141) 1px solid;
    background: silver;
    color:red;
}
.miss{
  text-align: start;  
  padding-left: 76px;
}
.heightWidth{
    font-weight: bolder;
}
.v-pills-experience{
 display: flex;
}

/* 工作经历 */

.experience_footer{
    flex:1;
}
.company{
    flex-direction: column;
}
.card {
    margin: 1rem 2rem !important;
}
.card-header{
    display: flex;
    justify-content: space-around;
}

/* 项目经验 */
.card-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* 特长 */

.skill{
    background-color: rgba(255, 251, 251, 0.836);
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
}
.skill_header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skill_centent{
    padding: 0 70px;
    line-height: 26px;
    font-size: 15px;
    font-weight:normal;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill_centent li{
    padding-top: 6px;
    list-style-type: circle;
}
/* 技能 */
.skill_foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 35px;
    margin-top: 23px;
}
.skill_foot div span{
    display: inline-block;
    padding: 2px;
    margin: 4px 3px;
    font-size: 18px;
    line-height: 20px;
    background-color: rgba(209, 59, 142, 0.87);
    transform:translate(3px,3px);
    border-radius: 5px;
    box-shadow: 5px 3px 3px #888888;
}
.skill_danger,.skill_border{
    box-sizing: border-box;
    margin: 1px 2px;
    display: inline-block;
    padding: 0 2px;
    border-radius: 2px;
    border: 1px solid #8888889c;
}
.skill_border{
    color: rgb(37, 142, 232);
    background-color: rgba(209, 59, 142, 190, 190, 0.5);
}
.skill_danger{
    color: rgba(223, 52, 146, 0.87);
    background-color: rgba(197, 174, 174, 0.5);
}
.skill_foot div .span_light{
    background-color: rgba(155, 104, 160, 0.57);
}
/* 联系我 */

#v-pills-contact .telPhone{
    position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%)
}
#v-pills-contact p {
    font-size: x-large;
    cursor: pointer;
}
#v-pills-contact p:hover{
    color: red;
}
.like{
    padding-top: 20px;
}